@import "_variables";
@import "_mixins";
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
  list-style-type: none;
}

button {
  padding: 0;
  margin: 0;
  outline: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 600;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  outline: none;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

label {
  display: block;
  cursor: pointer;
}

input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: $colorGrey;
}

.title-reset {
  margin: 0;
}

.descr-reset {
  margin: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1424px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 70px;
}

//убрать крестик у инпута
input[type="text"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="text"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

//убрать стрелки от номера у инпута

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

// import swiper
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/pagination/pagination.scss";
@import "../../node_modules/swiper/modules/navigation/navigation.scss";
@import "../../node_modules/swiper/modules/grid/grid.scss";
@import "../../node_modules/swiper/modules/free-mode/free-mode.scss";
@import "../../node_modules/swiper/modules/thumbs/thumbs.scss";

.content {
  &__title {
    @include text(32px, 32px, 500, $colorBlack);
  }
  &__descr {
    @include text(16px, 28px, 400, $colorBlack);
  }
  &__btn {
    padding: 14px 33px;
    @include text(16px, 24px, 600, $colorWhite);
    background-color: $blue-island;
    border-radius: 3px;
    transition: opacity 0.3s ease-in-out;
  }
}

.accordion {
  &__wrapper {
    position: relative;
  }
  &__item {
    background-color: $colorWhite;
    border-bottom: 1px solid $desired-dawn;
  }
  &__item-header {
    padding: 19px 30px;
    cursor: pointer;
  }
  &__item-title {
    position: relative;

  }
  &__item-title::before {
    content: "+";
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    @include text(30px, 30px, 400, $elemental-grey);
    background-color: $lighthouse;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  }
  &__item-content {
    position: relative;
    background-color: $colorWhite;
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    overflow-y: auto;
  }
  &__item-descr {
    margin: 30px;
  }
  &__item.active &__item-content {
    height: 150px;
  }
  &__item.active &__item-title::before {
    content: "-";
  }
}

@media (min-width: 1024px) {
  .content {
    &__btn:hover {
      opacity: 0.7;
    }
  }
  .accordion {
    &__item-header:hover &__item-title::before {
      background-color: $blue-island;
      color: $colorWhite;
    }
  }
}

//active, focus
.content {
  &__btn:active {
    opacity: 0.7;
  }
  &__btn:focus {
    opacity: 0.7;
    outline: none;
  }
}

.accordion {
  &__item-header:active &__item-title::before {
    background-color: $blue-island;
    color: $colorWhite;
  }
}

@media (max-width: 768px) {
  .content {
    &__title {
      @include text(24px, 32px, 500, $colorBlack);
    }
    &__descr {
      @include text(14px, 24px, 400, $colorBlack);
    }
  }
  .container {
    max-width: 522px;
  }
}

@media (max-width: 600px) {
  .content {
    &__title {
      @include text(18px, 24px, 500, $colorBlack);
    }
    &__descr {
      @include text(12px, 18px, 400, $colorBlack);
    }
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .accordion {
    &__item-header {
      padding: 20px 10px;
      cursor: pointer;
    }
    &__item-descr {
      margin: 10px;
    }
    &__item-title::before {
      content: "+";
      padding-left: 8px;
      padding-right: 8px;
      padding-bottom: 2px;

      @include text(20px, 20px, 400, $elemental-grey);

    }
  }
}

@media (max-width: 450px) {
  .content {
    &__btn {
      width: 100%;
    }
  }
}
