$colorBlack: #2A2A2A;
$colorWhite: #FFF;
$colorGrey: #999;
$blue-funk: #294570;
$larkspur-blue: #1daab3;
$blue-island: #23a6a6;
$washed-denim: #7e9bbd;
$lighthouse: #f4f4f4;
$elemental-grey: #a0a0a0;
$desired-dawn: #d8d8d8;
$ancestral-water: #d0d0d0;







